{% extends 'admin_base2.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
  <!-- Plugin css for this page -->
  <link rel="stylesheet" href="{{ asset('assets/vendors/select2/select2.min.css')}}">
  <link rel="stylesheet" href="{{ asset('assets/vendors/select2-bootstrap-theme/select2-bootstrap.min.css')}}">
    <style>
        #tablefiltre_length, #tablefiltre_filter {display: inline-block; width: 50%;}
    </style>
{% endblock %}

{% block nav %}
  {# {% include "nav.html.twig" %} #}
  {% include "navfront.html.twig" %}
{% endblock %}

{% block body %}

<div class="container-scroller"> 
    <!-- partial:partials/_navbar.html -->    
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- MENU -->
        {% include "menu.html.twig" %}
      <!-- FIN MENU -->
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            
            <div class="col-sm-12 col-lg-12 ">
              <div id="myTab" class="d-flex flex-wrap justify-content-center align-items-center text-center lms-progress-formation">
                <div class="col-6 px-0 text-uppercase show lms-tab"><span>{{'global.traking'|trans}}</span></div>
                <div class="col-6 px-0 text-uppercase lms-tab"><a href="{{ path('admin_mail_log_list') }}">{{'global.mailLog'|trans}}</a></div>
            </div>
            </div>

            <!-- FIN MENU HORIZONTAL -->
            <div class="row mt-3">
              <div class="col-sm-12">  

                                <!-- Contenu -->
                <div class="card border-0">
                    <div class="card-body">
                        <div class="table-responsive" id="users_list">
                        <table class="table table-bordered table-striped lms-table" >
                            <thead class="thead-dark">
                              <tr>
                                    <th>{{ "tracking.created" | trans  }}</th>
                                    <th>{{ "tracking.ip_request" | trans  }}</th>
                                    <th>{{ "tracking.user" | trans  }}</th>
                                    <th>{{ "tracking.mail" | trans  }}</th>
                                    <th>{{ "tracking.envent" | trans  }}</th>
                                    <th>{{ "tracking.path_info" | trans  }}</th>   
                              </tr>
                           </thead>
                           <tbody> 
                             {% for tracking in trackings %}
                                {% set data = tracking.queryRequest|json_decode%}
                                <tr>                                              
                                  <td>{{ tracking.created|date('d/m/Y H:i')}}</td>
                                  <td>{{ tracking.ipRequest }}</td>
                                  <td>{% if tracking.user %} {{ tracking.user.lastName }} {{ tracking.user.firstname }}{% else %}{{"tracking.userNotfound"|trans}}{% endif %}</td>
                                  <td>{{ data.lastUsername|default("") }}</td>
                                  <td>{{ tracking.action }}</td>
                                  <td><span data-toggle="tooltip" data-original-title="{{ tracking.pathInfo }}">{{ tracking.pathInfo  | u.truncate(40) }}</span></td>
                                </tr>
                             {% endfor %}
                           </tbody>
                          </table>
                      </div>
                  </div>
                  <div class="card-body">
                      <div class="d-flex">
                            <ul class="pagination ml-auto">
                                {% if pagination.page > 1 %}
                                    <li class="page-item page-prev"><a class="page-link showSpinner" aria-label="Previous" href="{{ path(pagination.route,pagination.route_params|merge({'page': 1})) }}">&laquo;</a></li>
                                {% endif %}
                                        {% for p in range(max(pagination.page-4, 1), min(pagination.page+4, pagination.pages_count)) %}
                                          {% if p == pagination.page %} 
                                             <li  class="page-item active"><a class="page-link showSpinner" href="{{ path(pagination.route, pagination.route_params|merge({'page': p} )) }}">{{ p }}</a></li>
                                            {% else %}
                                             <li  class="page-item "><a class="page-link showSpinner" href="{{ path(pagination.route, pagination.route_params|merge({'page': p} )) }}">{{ p }}</a></li>
                                          {% endif %}
                                        {% endfor %}
                                {% if pagination.page < pagination.pages_count %}
                                    
                                    <li class="page-item page-next"><a class="page-link showSpinner" aria-label="Next" href="{{ path(pagination.route, pagination.route_params|merge({ 'page': pagination.pages_count})) }}">&raquo;</a></li>
                                {% endif %}
                            </ul>  
                      </div>      
                  </div>  
                </div>

                {% for tracking in trackings %}
                <div class="modal fade" id="tracking-{{ tracking.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Détail</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body col-12 h-75" >
                                {% set query_request = tracking.queryRequest |json_decode %}
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">{{'global.literal.close'|trans}}</button>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}

              </div> 
            </div>

          </div>
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>

{% endblock %}
{% block js %}
    {{ parent() }}
  <!-- endinject -->
  <!-- Plugin js for this page -->
  <script src="{{asset('assets/vendors/typeahead.js/typeahead.bundle.min.js') }}"></script>
  <script src="{{asset('assets/vendors/select2/select2.min.js') }}"></script>
  <script src="{{asset('assets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js') }}"></script>
  <!-- End plugin js for this page -->
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script src="{{asset('assets/js/file-upload.js') }}"></script>
  <script src="{{asset('assets/js/typeahead.js') }}"></script>
  <script src="{{asset('assets/js/select2.js') }}"></script>
  <!-- End custom js for this page-->

    <script>
        $(function () {
             //=======================================table===========================================
             $('#filtreForm th').each( function () {
                var title = $(this).text();
                $(this).html( '<input type="text" class="form-control" placeholder="{{"global.table.search"|trans}} '+title+'" />' );
            } );

            var table = $('#tablefiltre').DataTable({
                colReorder: true,
                responsive: false, 
                ordering:  true, 
                order: [[ 0, "asc" ]],
                searching: true,
                paging: true,
                language: {
                    decimal:        "",
                    emptyTable:     "-",
                    info: "[_START_/_END_]  <b>{{"global.table.total"|trans}} : </b>_TOTAL_",
                    infoEmpty:      "0/0   [0]",
                    infoFiltered:   "({{"global.table.filteredForm"|trans}} _MAX_ {{"global.table.entries"|trans}})",
                    infoPostFix:    "",
                    thousands:      " ",
                    lengthMenu:     "<b>{{"global.table.Entries"|trans}}</b> _MENU_",
                    loadingRecords: "{{"global.table.loadingRecords"|trans}}...",
                    processing:     "{{"global.table.processing"|trans}}...",
                    search:         "<b>{{"global.table.search"|trans}}</b>:",
                    zeroRecords:    "{{"global.table.zeroRecords"|trans}}",
                    paginate: {next:       ">>", previous:   "<<"},
                    
                },
            });
            
            table.columns().eq( 0 ).each( function ( colIdx ) {
                $( 'input', $('#filtreForm th')[colIdx] ).on( 'keyup change', function () {
                    table
                        .column( colIdx )
                        .search( this.value )
                        .draw();
                } );
            } );
            //=======================================table end=========================================
            
        });

    </script> 
{% endblock %}



