<div class="col-lg-1">
</div>
<div class="col-sm-6 col-lg-2">
    <div class="card my-3">
        <div class="card-body">
            <div class="card-title text-center"><b>Protocole d'utilisation thérapeutique et de recueil d'informations</b><br/><br/><br/><br/><br/></div>
			<p class="small font-italic text-center">VERSION 1.2 du 26 Février 2021</p>
            <div class="card-text text-center"><a target="_blank" href="{{ asset('docs/PUT-V26.02.2021.pdf') }}" class="btn btn-primary"><b>Télécharger</b></a></div>
        </div>
    </div>
</div>
 <div class="col-sm-6 col-lg-2">
    <div class="card my-3">
        <div class="card-body">
            <div class="card-title text-center"><b>Critères d'inclusion et suivi de l'ATU cohorte</b><br/><br/><br/><br/><br/><br/></div>
			<p class="small font-italic text-center">VERSION 1.2 du 26 Février 2021</p>
            <div class="card-text text-center"><a target="_blank" href="{{ asset('docs/PUT-Criteres_d_inclusion_et_suivi_V26.02.2021.pdf') }}" class="btn btn-primary"><b>Télécharger</b></a></div>
        </div>
    </div>
</div>
<div class="col-sm-6 col-lg-2">
    <div class="card my-3">
        <div class="card-body">
            <div class="card-title text-center"><b>RCP, notice utilisateur, étiquetage</b><br/><br/><br/><br/><br/><br/><br/></div>
			<p class="small font-italic text-center">VERSION 1.2 du 26 Février 2021</p>
			<div class="card-text text-center"><a target="_blank" href="{{ asset('docs/RCP_Notice_utilisateur_etiquetage_V26.02.2021.pdf') }}" class="btn btn-primary"><b>Télécharger</b></a></div>
        </div>
    </div>
</div>
<div class="col-sm-6 col-lg-2">
    <div class="card my-3">
        <div class="card-body">
            <div class="card-title text-center"><b>Note d'information destinée au patient</b><br/><br/><br/><br/><br/><br/></div>							
			<p class="small font-italic text-center">VERSION 1.2 du 26 Février 2021</p>
            <div class="card-text text-center"><a target="_blank" href="{{ asset('docs/Notice_d_information_destinee_au_patient.pdf') }}" class="btn btn-primary"><b>Télécharger</b></a></div>
        </div>
    </div>
</div>
<div class="col-sm-6 col-lg-2">
    <div class="card my-3">
        <div class="card-body">
            <div class="card-title text-center"><b>Notice d'information destinée au professionnel de santé relative au traitement des données personnelles </b></div>
			<p class="small font-italic text-center">VERSION 1.2 du 26 Février 2021</p>
            <div class="card-text text-center"><a target="_blank" href="{{ asset('docs/Notice_d_information_destinee_au_professionnel_de_sante_relative_aux_donnees-personnelles.pdf') }}" class="btn btn-primary"><b>Télécharger</b></a></div>
        </div>
    </div>
</div>
<div class="col-lg-1">
</div>