{% extends 'admin_base.html.twig' %}

{% block title %}{{ 'lov.add'|trans }}{% endblock %}

{% block body %}
 <!-- Fil d'ariane -->
<div class="cm-breadcrumb">
    {{ app_name }} > <span class="bold">{{ 'menu.lov.title'|trans}}</span>
</div>

<!-- Titre -->
<div class="d-flex align-items-center lms-title">
    <h1 class="text-uppercase lms-h1">{{ entity }}</h1>
    <hr>
</div> 
<div class="card border-0">
    <div class="card-body">
        <div class="row">
            <div class="col-md-9">   
                <div class="card full-xs">   
                    <div class="card-body">
                        <form method="post">
                            {% include "LovManagement/lov_form.html.twig" %} 
                        </form> 
                        <br/><br/>
                        {% include "LovManagement/_list_lite.html.twig" %} 
                    </div>   
                </div>
            </div>    
            <div class="col-md-3"> 
                {% include "LovManagement/lov_menu.html.twig" %} 
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block js %}
    {{ parent() }}
    <script>

        $(function () {
            // ======================================================================================
            //=======================================table===========================================
            // ======================================================================================
            $('#filtreForm th').each( function () {
                var title = $(this).text();
                $(this).html( '<input type="text" class="form-control" placeholder="{{"global.table.search"|trans}} '+title+'" />' );
            } );

            var table = $('#tablefiltre').DataTable({
                colReorder: true,
                responsive: false, 
                ordering:  true, 
                order: [[ 0, "asc" ]],
                searching: true,
                paging: true,
                language: {
                    decimal:        "",
                    emptyTable:     "-",
                    info: "[_START_/_END_]  <b>{{"global.table.total"|trans}} : </b>_TOTAL_",
                    infoEmpty:      "0/0   [0]",
                    infoFiltered:   "({{"global.table.filteredForm"|trans}} _MAX_ {{"global.table.entries"|trans}})",
                    infoPostFix:    "",
                    thousands:      " ",
                    lengthMenu:     "<b>{{"global.table.Entries"|trans}}</b> _MENU_",
                    loadingRecords: "{{"global.table.loadingRecords"|trans}}...",
                    processing:     "{{"global.table.processing"|trans}}...",
                    search:         "<b>{{"global.table.search"|trans}}</b>:",
                    zeroRecords:    "{{"global.table.zeroRecords"|trans}}",
                    paginate: {next:       ">>", previous:   "<<"},
                    
                },
            });
            
            table.columns().eq( 0 ).each( function ( colIdx ) {
                $( 'input', $('#filtreForm th')[colIdx] ).on( 'keyup change', function () {
                    table
                        .column( colIdx )
                        .search( this.value )
                        .draw();
                } );
            } );
                // ======================================================================================
            //=======================================table end=========================================
            // ======================================================================================
        });

    </script> 
{% endblock %}
