{% extends 'admin_base2.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
  <!-- Plugin css for this page -->
  <link rel="stylesheet" href="{{ asset('assets/vendors/select2/select2.min.css')}}">
  <link rel="stylesheet" href="{{ asset('assets/vendors/select2-bootstrap-theme/select2-bootstrap.min.css')}}">
    <style>
        #tablefiltre_length, #tablefiltre_filter {display: inline-block; width: 50%;}
    </style>
{% endblock %}

{% block nav %}
  {# {% include "nav.html.twig" %} #}
  {% include "navfront.html.twig" %}
{% endblock %}

{% block body %}

<div class="container-scroller"> 
    <!-- partial:partials/_navbar.html -->    
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- MENU -->
        {% include "menu.html.twig" %}
      <!-- FIN MENU -->
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            <div class="col-sm-12 col-lg-12 ">
              <div class="home-tab">
                <!-- MENU HORIZONTAL -->
                <div class="d-sm-flex align-items-center justify-content-between border-bottom">
                  <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                      <a class="nav-link {# {% if entity == "GenreCommerce" %}active ps-0{% endif %} #}" id="home-tab" href="{# {{ path('admin_lov_list', {'entity': 'GenreCommerce' }) }} #}" role="tab" >{{ 'lov.genrecommerce'|trans }}</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link {# {% if entity == "Quartier" %}active ps-0{% endif %} #}" id="more-tab" href="{# {{ path('admin_lov_list', {'entity': 'Quartier' }) }} #}" >{{ 'lov.quartier'|trans }}</a>
                    </li>
                  </ul>
                </div>
              </div> 
            </div>
            <!-- FIN MENU HORIZONTAL -->
          </div>

            <div class="row mt-3">
              <div class="col-sm-12">   
                  
                    {{ include('transaction_management/product/_form.html.twig', {'button_label': 'Update'}) }} 
                    {{ include('transaction_management/product/_delete_form.html.twig') }} 
              </div>    
            </div>
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>

{% endblock %}
{% block js %}
    {{ parent() }}
  <!-- endinject -->
  <!-- Plugin js for this page -->
  <script src="{{asset('assets/vendors/typeahead.js/typeahead.bundle.min.js') }}"></script>
  <script src="{{asset('assets/vendors/select2/select2.min.js') }}"></script>
  <script src="{{asset('assets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js') }}"></script>
  <!-- End plugin js for this page -->
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script src="{{asset('assets/js/file-upload.js') }}"></script>
  <script src="{{asset('assets/js/typeahead.js') }}"></script>
  <script src="{{asset('assets/js/select2.js') }}"></script>
  <!-- End custom js for this page-->

    <script>
    

    </script> 
{% endblock %}



