{% extends 'admin_base2.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
  <!-- Plugin css for this page -->
  <link rel="stylesheet" href="{{ asset('assets/vendors/select2/select2.min.css')}}">
  <link rel="stylesheet" href="{{ asset('assets/vendors/select2-bootstrap-theme/select2-bootstrap.min.css')}}">

{% endblock %}

{% block nav %}
  {% include "navfront.html.twig" %}
{% endblock %}

{% block body %}

<div class="container-scroller"> 
    <!-- partial:partials/_navbar.html -->    
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- MENU -->
        {% include "menu.html.twig" %}
      <!-- FIN MENU -->
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            <div class="col-sm-12">
              <div class="home-tab">
                <!-- MENU HORIZONTAL -->
                <div class="d-sm-flex align-items-center justify-content-between border-bottom">
                  <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                      <a class="nav-link active" id="profile-tab"  href="{{ path('transport_management_vehicule_index') }}" >Accueil</a>
                    </li>
                    {% for ville in villes %}
                      <li class="nav-item">
                        <a class="nav-link" id="home-tab" href="{{ path('ville_vehicule', {'id': ville.id }) }}" > {{ville.title}} </a>
                      </li>
                    {% endfor %}
                  </ul>
                  <div>
                    <div class="btn-wrapper">
                      <a href="#" class="btn btn-otline-dark align-items-center"><i class="icon-share"></i> Share</a>
                      <a href="#" class="btn btn-otline-dark"><i class="icon-printer"></i> Print</a>
                      <a href="#" class="btn btn-primary text-white me-0"><i class="icon-download"></i> Export</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
            <!-- FIN MENU HORIZONTAL -->
            <div class="row mt-3 ">
                      <div class="card border-0 card-body col-sm-12  mx-4">
                        <h1>Edit Vehicule</h1>

					    {{ include('transport_management/vehicule/_form.html.twig', {'button_label': 'Update'}) }}

					    <a href="{{ path('transport_management_vehicule_index') }}">back to list</a>

					    {{ include('transport_management/vehicule/_delete_form.html.twig') }}
                      </div>
            </div> 
        </div>
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>

{% endblock %}
{% block js %}
    {{ parent() }}
  <!-- endinject -->
  <!-- Plugin js for this page -->
  <script src="{{asset('assets/vendors/typeahead.js/typeahead.bundle.min.js') }}"></script>
  <script src="{{asset('assets/vendors/select2/select2.min.js') }}"></script>
  <script src="{{asset('assets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js') }}"></script>
  <!-- End plugin js for this page -->
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script src="{{asset('assets/js/file-upload.js') }}"></script>
  <script src="{{asset('assets/js/typeahead.js') }}"></script>
  <script src="{{asset('assets/js/select2.js') }}"></script>
  <!-- End custom js for this page-->

{% endblock %}



