{% extends 'admin_base.html.twig' %}

{% block title %}
	{{'user.password.title'|trans}}
{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('css/app') }}
{% endblock %}

{% block body %}
	<!-- Fil d'ariane -->
	<div class="cm-breadcrumb">{{ app_name }}
		>
		<span>{{ 'user.password.title'|trans }}</span>
	</div>

	<!-- Titre -->
	<div class="d-flex align-items-center lms-title">
		<h1 class="text-uppercase lms-h1">{{'user.password.title'|trans}}</h1>
		<hr>
	</div>
    <div class="d-flex row ">
        <div class="col-6">
            <p class="lead">{{ 'global.welcom.resseting_titel'|trans }}</p>

             <p class="text-rigth lms-text-primary">
                {% if  app.user.lastChangePassword !=null %} 
                    {{ 'user.password.lastchange'|trans({'%date%': app.user.lastChangePassword|date("d-m-Y")}) }} 
                {% endif %}
            </p>
            {% for type, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-dismissible alert-danger mt-2" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
                        {{ message|trans }}
                    </div>
                {% endfor %}
            {% endfor %}

            {% form_theme form 'bootstrap_4_layout.html.twig' %}

            {{ form_start(form) }}
            {{ form_errors(form) }}
            {{ form_row(form.password) }}

            <button type="submit" class="btn btn-primary">
                {{ 'global.submit'|trans }}
            </button>

            {{ form_end(form) }}
        </div>
        {% if  date(app.user.lastChangePassword) < date('-90days') %} 
            <div class="col-6 lms-bg-primary d-flex align-items-center">
                <h5 class=" text-center text-white">
                    {{ 'user.password.securityLevel'|trans }}
                </h5>
            </div>
        {% endif %}
        {% if  app.user.lastChangePassword ==null %} 
            <div class="col-6 lms-bg-primary d-flex align-items-center">
                <h5 class=" text-center text-white">
                    {{ 'user.password.newUser'|trans }}
                </h5>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block js %}
<script src="https://code.jquery.com/jquery-3.3.1.min.js"  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js" integrity="sha512-UdIMMlVx0HEynClOIFSyOrPggomfhBKJE28LKl8yR3ghkgugPnG6iLfRfHwushZl1MOPSY6TsuBDGPK2X4zYKg==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/additional-methods.min.js" integrity="sha512-6Uv+497AWTmj/6V14BsQioPrm3kgwmK9HYIyWP+vClykX52b0zrDGP7lajZoIY1nNlX4oQuh7zsGjmF7D0VZYA==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/localization/messages_fr.min.js" integrity="sha512-O4IbKhkgn9LcZRHg1cAVXj2LEA4ywCsw6UOCa3gQmnCz7bHer98U5/IDBgHc9mlISEfuMeP/F6FrQ0ILjnj3Bg==" crossorigin="anonymous"></script>      
<script>
$(function(){  
    // enableAccordeon
    $('.lms-accordeon-open').on('click', function() {
        var parentLevel = $(this).closest('.lms-accordeon-module-note');
        var nextLevel = $(parentLevel).children('.lms-accordeon-container-note');
        if ($(this).hasClass('lms-icon-cross')) {
            $(this).addClass('lms-icon-plus').removeClass('lms-icon-cross');
        } else {
            $('.lms-accordeon-open').addClass('lms-icon-plus').removeClass('lms-icon-cross');
            $(this).addClass('lms-icon-cross').removeClass('lms-icon-plus');
        }
        if ($(nextLevel).hasClass('lms-is-open')) {
            $('.lms-accordeon-container-note').addClass('lms-is-close').removeClass('lms-is-open');
        } else {
            $('.lms-accordeon-container-note').addClass('lms-is-close').removeClass('lms-is-open');
            $(nextLevel).addClass('lms-is-open').removeClass('lms-is-close');
        }
    });

    // tabs = function() {
    $('.lms-tab').on('click', function() {
        $('.lms-tab').removeClass('show');
        $(this).addClass('show');
        $('.lms-panel').removeClass('active');
        $($(this).attr('data-tab')).addClass('active');
    });

    // For menu
    $('#myDropdown .dropdown-menu').on({
        "click":function(e){
            e.stopPropagation();
        }
    });    

    /** Initialize tooltips */
    $('[data-toggle="tooltip"]').tooltip();

    $(".spinner").hide();
    
    $('.showSpinner').on('click', function() {
        $(".spinner").show(); 
    });

    $("form").validate({
        rules: {
            "reset_password[password][first]": {
                required: true,
                minlength: 8
            },
            "reset_password[password][second]": {
                required: true,
                minlength: 8,
                equalTo: "#reset_password_password_first"
            },            
         },
         submitHandler: function(form) {
                $(".spinner").show();
                form.submit();
        },
         error: function() {
                $(".spinner").hide();
        }
    });
    toastr.options={closeButton:!0,debug:!1,progressBar:!1,positionClass:"toast-top-right",onclick:null,showDuration:"300",hideDuration:"100",timeOut:"3000",extendedTimeOut:"100",showEasing:"swing",hideEasing:"linear",showMethod:"fadeIn","progressBar": true,hideMethod:"fadeOut"};

    {% for flashMessage in app.session.flashbag.get('success') %}
        toastr.success("{{ flashMessage }}", "Success");    
    {% endfor %}  

    $('input').on('input', function() {
        $(this).parent().find('.invalid-feedback').remove();
        $(this).removeClass('is-invalid');
        $(".alert").remove();
    });

    $('body').on('blur', '#reset_password_password_first', function(){
        if ($('#reset_password_password_first').val()) {
            var patt = new RegExp("^.*(?=.{8,})(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])[a-zA-Z0-9@#$%^&+=]*$");
            if (!patt.test($('#reset_password_password_first').val())) {
                $(':input[type="submit"]').prop('disabled', true);
                 toastr.error("Le mot de passe doit contenir au moins un chiffre, un caractère minuscule et un caractère majuscule, et minimum 8 caractères", "Warning"); 
                 $('#reset_password_password_first').addClass('is-invalid');
            } else {
                $(':input[type="submit"]').prop('disabled', false);
                $('#reset_password_password_first').removeClass('is-invalid');
            }
        }
    });    
}); 


// lms clock
function showTime(){
    var date=new Date,h=date.getHours(),m=date.getMinutes(),s=date.getSeconds(),session="AM";0==h&&(h=12),12<h&&(h-=12,session="PM");var time=(h=h<10?"0"+h:h)+":"+(m=m<10?"0"+m:m)+":"+(s=s<10?"0"+s:s)+" "+session;document.getElementById("lmsClockDisplay").innerText=time,document.getElementById("lmsClockDisplay").textContent=time,setTimeout(showTime,1e3);
}
showTime();

const menu = document.getElementById('headerMenuCollapse'),
      btMenu = document.getElementById('min-menu-btn');

let choice = localStorage.getItem('choice');

function navigation() {
    /* Comportement par défaut avant de cliquer sur le bouton du menu */
    if (localStorage['choice'] === undefined) {

        if (window.innerWidth > 768) {
            menu.classList.remove('minify');

        } else if (window.innerWidth <= 768) {
            menu.classList.add('minify');
        }

    /* Application du choix mémorisé (menu ouvert ou fermé) */
    } else if (localStorage['choice'] === 'open') {
        menu.classList.remove('minify');

    } else if (localStorage['choice'] === 'close') {
        menu.classList.add('minify');
    }

    /* Modification du positionnement du menu ouvert suivant la largeur du viewport */
    if (window.innerWidth > 768) {
        menu.classList.remove('lms-container-nav-over');
    }

    if (window.innerWidth <= 768 && !menu.classList.contains('minify')) {
        menu.classList.add('lms-container-nav-over');
    }


    btMenu.onclick = function() {

        if (menu.classList.contains('minify')) {
            menu.classList.remove('minify');
            localStorage.setItem('choice', 'open');

            if (window.innerWidth <= 768) {
                menu.classList.add('lms-container-nav-over');
            }

        } else {
            menu.classList.add('minify');
            menu.classList.remove('lms-container-nav-over');
            localStorage.setItem('choice', 'close');
        }
    };


    if (window.addEventListener) {
        window.addEventListener('resize', navigation, { passive: true });
    }
}

navigation();
</script>               
{% endblock %}  