<form method="post">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />
            
    <div class="form-group lms-login-form-group lms-login-form-field">
        <label for="inputEmail" class="cm-material-icons"><i class="material-icons"> mail </i></label>
        <input type="email" value="{{ last_username }}" placeholder="{{ 'security.login.email'|trans }}" name="email" id="inputEmail" class="form-control" required autofocus/>
    </div>
    <div class="form-group lms-login-form-group lms-login-form-field">
        <label for="inputPassword" class="cm-material-icons"><i class="material-icons"> lock </i></label>
        <input type="password" placeholder="{{ 'security.login.password'|trans  }}" name="password" id="inputPassword" class="form-control" required/>
    </div>
    <div class="row justify-content-between">
        <label class="col-12 col-sm-6 small">
            <input type="checkbox" id="remember_me" name="_remember_me" checked/>
            <span class="">{{ 'security.login.remember_me'|trans }}</span>
        </label>
        <p class="col-sm-6 small text-sm-right">       
            <a href="{{ path('password_reset') }}">{{ 'user.password.forgot'|trans }}</a>
        </p>
    </div>
    <div class="form-group">
        {% if app.request.locale == 'en' %}
            {% if error %}
                <div class="my-4 text-danger server-error" role="alert">
                    {# <button data-dismiss="alert" class="close"></button> #}
                    <i class="material-icons lms-material-icons">lock</i> <span>{{ error }}</span>
                </div>
            {% endif %}  
        {% else %}
            {% if error %}
                <div class="my-4 text-danger server-error" role="alert">
                    {# <button data-dismiss="alert" class="close"></button> #}
                    <i class="material-icons lms-material-icons text-danger">error</i> <span>{{ error.messageKey|trans(error.messageData, 'security') }}</span>
                </div>
            {% endif %}
        {% endif %}
        <button type="submit" name="_submit" class="btn btn-primary">{{ 'security.login.submit'|trans }}</button>
    </div>
</form>

