<div class="row">
    <div class="col-12"> 
        {{ form_row(form.civility) }}
    </div>
</div>    
<div class="row">
    <div class="col-12"> 
    {{ form_row(form.firstname) }}
    </div>
</div>    
<div class="row">
    <div class="col-12"> 
    {{ form_row(form.lastname) }}
    </div>
</div>       
<div class="row">
    <div class="col-12">       
        {{ form_row(form.service) }}
    </div>
</div>    
<div class="row">
    <div class="col-12">       
        {{ form_row(form.rppsNumber) }}
    </div>
</div>    
<div class="row">
    <div class="col-12">       
        {{ form_row(form.tel) }}
    </div>
</div>    