<!DOCTYPE html> 
<head lang="{{ app.request.locale }}">
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="{{ asset('assets/images/logo.png')}}{# {{ asset('favico.ico') }} #}" type="image/x-icon"/>
    <link rel="shortcut icon" type="image/x-icon" href="{{ asset('assets/images/logo.png')}} {# {{ asset('favico.ico') }} #}" /> 
    <title>{{ 'relooke' | trans }}</title>
    
    <!-- Bootstrap -->
    {# <link href="//netdna.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"> #}
    {#<link href="{{ asset('assets/bootstrap-datepicker/css/datepicker.css') }}" rel="stylesheet" type="text/css" /> #}
    <!-- Table sorter-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.1/css/jquery.tablesorter.pager.min.css" rel="stylesheet" type="text/css" />
    <!-- tableau bis -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.18/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/colreorder/1.5.0/css/colReorder.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.2/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/bootstrap-fileupload/bootstrap-fileupload.css')}}" />

    <link rel="stylesheet" href="{{ asset('assets/vendors/feather/feather.css')}}">
      <link rel="stylesheet" href="{{ asset('assets/vendors/mdi/css/materialdesignicons.min.css')}}">
      <link rel="stylesheet" href="{{ asset('assets/vendors/ti-icons/css/themify-icons.css')}}">
      <link rel="stylesheet" href="{{ asset('assets/vendors/typicons/typicons.css')}}">
      <link rel="stylesheet" href="{{ asset('assets/vendors/simple-line-icons/css/simple-line-icons.css')}}">
      <link rel="stylesheet" href="{{ asset('assets/vendors/css/vendor.bundle.base.css')}}">
      <!-- endinject -->
      <!-- Plugin css for this page -->
      <link rel="stylesheet" href="{{ asset('assets/vendors/datatables.net-bs4/dataTables.bootstrap4.css')}}">
      <link rel="stylesheet" href="{{ asset('assets/js/select.dataTables.min.css')}}">
      <!-- End plugin css for this page -->
      <!-- inject:css -->
      <link rel="stylesheet" href="{{ asset('assets/css/vertical-layout-light/style.css')}}">
      <!-- endinject -->
      <link rel="shortcut icon" href="{{ asset('assets/images/logo.png')}}" />

</head>

<body>

{# {% block header %}
    {% include "home/header.html.twig" %}
{% endblock header %} #}
    
<!-- Partie centrale -->
<div class="container-fluid p-0 lms-container">
    <div class="d-flex">
        {# {% include "home/menu.html.twig" %} #}
   

        {% block nav %} {% endblock nav %}
        <!-- Contenu principal -->
        <main class="cm-content">
        {% block body %} {% endblock body %}
        </main>
        <!-- Fin contenu principal -->
    </div>
</div>   
    
{% block footer %}
     <footer class="footer">
          <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Bopesa <a href="https://www.bootstrapdash.com/" target="_blank"></span>
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Copyright © 2021. Tous droits réservés.</span>
          </div>
        </footer>
    {# {% include "home/footer.html.twig" %} #}
{% endblock footer %}



{% block js %}
    <!-- Jquery -->
    <script  src="{{asset('assets/bootstrap-fileupload/bootstrap-fileupload.js') }}"></script>
    
    <!-- plugins:js -->
  <script src="{{asset('assets/vendors/js/vendor.bundle.base.js') }}"></script>
  <!-- endinject -->
  <!-- Plugin js for this page -->
  <script src="{{asset('assets/vendors/chart.js/Chart.min.js') }}"></script>
  <script src="{{asset('assets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js') }}"></script>
  <script src="{{asset('assets/vendors/progressbar.js/progressbar.min.js') }}"></script>

  <!-- End plugin js for this page -->
  <!-- inject:js -->
  <script src="{{asset('assets/js/off-canvas.js') }}"></script>
  <script src="{{asset('assets/js/hoverable-collapse.js') }}"></script>
  <script src="{{asset('assets/js/template.js') }}"></script>
  <script src="{{asset('assets/js/settings.js') }}"></script>
  <script src="{{asset('assets/js/todolist.js') }}"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script src="{{asset('assets/js/dashboard.js') }}"></script>
  <script src="{{asset('assets/js/Chart.roundedBarCharts.js') }}"></script>

  <!-- Table -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/colreorder/1.5.0/js/dataTables.colReorder.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/responsive/2.2.2/js/dataTables.responsive.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.6.5/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.6.5/js/buttons.html5.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.6.5/js/buttons.print.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.6.5/js/buttons.colVis.min.js"></script>


<script>

</script>

{% endblock %}

</body>
</html>
