<!DOCTYPE html>
<head lang="{{ app.request.locale }}">
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Disable tap highlight on IE -->
    <meta name="msapplication-tap-highlight" content="no">

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="application-name" content="ATU">
    <link rel="icon" sizes="192x153" href="{{ asset('/images/icons/chrome-touch-icon-192x192.png') }}">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Cardio Stat">
    <link rel="apple-touch-icon" href="{{ asset('/images/icons/apple-touch-icon.png') }}">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="{{ asset('/images/icons/icon-144x144.png') }}">
    <meta name="msapplication-TileColor" content="#0069d9">

    <!-- Color the status bar on mobile devices -->
    <meta name="theme-color" content="#ffffff">   
    
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">

    <title>{% block title %}Welcome!{% endblock %}</title>
 
    <link href="//netdna.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Toastr -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
    {% block stylesheets %}
        {{ encore_entry_link_tags('css/app') }}
    {% endblock %}
</head>
<body>
    {% block body %}{% endblock %}
    
    {% block footer %}
        {% include "home/footer.html.twig" %}
    {% endblock footer %}

   {#  {{ encore_entry_script_tags('js/app') }} #}
    {% block js %}{% endblock js %}
</body>
</html>
