{% extends 'base.html.twig' %}

{% block title %}{{'user.password.title'|trans}}{% endblock %}

{% block body %}
    {{ include('UserManagement/_header.html.twig') }}  
<div class="container">
    <center><figure style="width: 10rem;"><img src="{{asset('images/core/logo_square.svg')}}" class="cm-logo-img" alt="logo"/></figure></center>
    <div class="row align-items-center">
        <div class="card-body">
             <div class="card-title">{{ 'global.welcom.resseting_titel'|trans }}</div>   
            {{ include('UserManagement/_flash.html.twig') }}
            <div class="card-body">

            {% form_theme form 'bootstrap_4_layout.html.twig' %}

            {{ form_start(form) }}
            {{ form_row(form.password) }}

                <div class="row flex-wrap justify-content-center  justify-content-sm-around">
                    <button type="submit" class="btn btn-primary">
                        {{ 'global.submit'|trans }}
                    </button>
                </div>

            {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>
{% for flashMessage in app.session.flashbag.get('success') %}
    <input type="hidden" class="flashbagSuccess" value="{{ flashMessage }}">   
{% endfor %}  
{% endblock %}

{% block footer %}
    {{ include('home/footer.html.twig', {'class': 'fixed-bottom'}) }}
{% endblock %}

{% block js %}
    {{ encore_entry_script_tags('js/password-change') }}                  
{% endblock %}          