{% extends 'base.html.twig' %}

{% block title %}{{'user.password.title'|trans}}{% endblock %}

{% block body %}
    {{ include('UserManagement/_header.html.twig') }}  
<div class="container">
    <center><figure style="width: 10rem;"><img src="{{asset('images/core/logo_square.svg')}}" class="cm-logo-img" alt="logo"/></figure></center>
	<div class="row align-items-center justify-content-center">
		<section>
				<header>
					<h1>
                        <i class="material-icons lms-material-icons">account_circle</i>
                        <span>{{'user.password.title'|trans}}</span>
                    </h1>
				</header>
                <p style="max-width: 40em;">
                    {{'user.password.info_reset'|trans}}
                </p>
		</section>
	</div>
</div>
{% for flashMessage in app.session.flashbag.get('success') %}
    <input type="hidden" class="flashbagSuccess" value="{{ flashMessage }}">   
{% endfor %}  
{% endblock %}

{% block footer %}
    {{ include('home/footer.html.twig', {'class': 'fixed-bottom'}) }}
{% endblock %}
