{% extends 'admin_base.html.twig' %}

{% block title %}{{ 'lov.actions.add'|trans }}{% endblock %}

{% block body %}
 <!-- Fil d'ariane -->
<div class="cm-breadcrumb">
    {{ app_name }} > <span class="bold">{{ 'menu.lov.title'|trans}}</span>
</div>

<!-- Titre -->
<div class="d-flex align-items-center lms-title">
    <h1 class="text-uppercase lms-h1">Category index</h1>
    <hr>
</div>

<!-- Contenu -->    
<div class="card border-0">
    <div class="card-body">
        <div class="row">
            <div class="col-md-9">   
                <div class="card full-xs">  
                    <div class="card-body">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Name</th>
                                        <th>actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for category in categories %}
                                    <tr>
                                        <td>{{ category.id }}</td>
                                        <td>{{ category.title }}</td>
                                        <td>
                                            <a href="{{ path('transaction_management_category_show', {'id': category.id}) }}">show</a>
                                            <a href="{{ path('transaction_management_category_edit', {'id': category.id}) }}">edit</a>
                                        </td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="3">no records found</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>


                    <a href="{{ path('transaction_management_category_new') }}">Create new</a>
                    </div>   
                </div>
            </div>    
        </div>
    </div>
</div>                            
{% endblock %}

{% block js %}
    {{ parent() }}
    <script>
    </script> 
{% endblock %}

